div{
    width: 100%;
}


p{
    padding: 7px;
}

.kek>.p-header{
    background-color: rgb(192, 245, 245);
}

.sarga>.p-header{
    background-color: rgb(245, 202, 138);
}

.p-header{
    margin: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.kek{
    border-radius: 5px;
    padding: 2px;
    background-color: aqua;
}

.sarga{
    border-radius: 5px;
    padding: 2px;
    background-color: rgb(223, 160, 43);
}

.p-text{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: white;
    margin: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}